/* Global */
body, * {
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.view {
    height: 80%;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

/* Tablet */
@media (min-width: 600px) {
    .container {
        position: relative;
        margin: 0 10%;
        max-width: 90%;
    } 

    .view-content {
        align-self: center;
    }
}

/* Desktop */
@media (min-width: 960px) {
    .container {
        position: relative;
        margin: 0 10%;
        max-width: 90%;
    }

    .view-content {
        flex-grow: 1;
    }
}
