/* Mobile */
@media (max-width: 600px) {
    .darkModeLabel {
        display: none;
        color: red !important;
    }
}

/* Tablet */
@media (min-width: 600px) {
    .darkModeLabel {
        display: none;
        font-size: 50px !important;
    }
}

/* Desktop */
@media (min-width: 960px) {
}
